body{
	background-color: #e6e6e6;
}

.navbar .navbar-collapse {
  text-align: center;
}

.btn-group>.dropdown-menu{
	padding: 10 10 10 10px;
}

.space {
	margin-bottom: 1em;
}

.caret {
	margin-right: 25px;
}

#map {
	height: 87vh;
	width: 100%;
	overflow:auto;
}

.linkbar{
	color: #99c2ff;
}
