<div id="resultsPane">
	<a id="closeSearch" class="btn accBtn" href="/">close</a>
	<h3>Search</h3>
	<p>for "<%= query %>"</p>
	<ul class="list-group">
		<% spots.forEach(function(item) { %>
			<li>
				<a href="#" class="list-group-item">
					<%= item.name %>
					<br>
					<%= item.type %>
				</a>
			</li>
		<% }); %>
	</ul>
</div>
