<ul class="list-unstyled components">
	<p>Dummy Heading</p>
	<li class="active">
		<a href="#spotSubmenu" data-toggle="collapse">Home</a>
		<ul class="collapse list-unstyled" id="spotSubmenu">
			<li><a href="#">Home 1</a></li>
			<li><a href="#">Home 2</a></li>
			<li><a href="#">Home 3</a></li>
	  	</ul>
	<li><a href="#">About</a>
</ul>
