<nav class="navbar navbar-dark <% if (title === 'Home') { %> navShadow <%} else { %> shadowFx <% } %>">
	<div class="container-fluid">
		<!-- LOGO & BURGER MENU -->
		<div class="navbar-header pull-left">
			<a class="navbar-brand" href="/">Findspot</a>
		</div>

		<%# TODO: push into hamburger to size for mobile %>
		<%# TODO: adjust searchbar size on <~1200 screens%>

		<!-- SEARCH BAR -->
		<form action="/" class="input-group col-md-6 col-sm-6 col-xs-2 centerNav searchbar">
			<noscript><label for="loc">Search</label></noscript>
			<input name="loc" class="form-control" type="search" id="locationSearch" placeholder="Find a spot...">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Find</button>
			</span>
		</form>

		<!-- The main links in the navbar -->
		<button id="burgerButton" type="button" class="navbar-toggle btn btn-primary" data-toggle="collapse" data-target="#links">
			&vellip;
		</button>

		<%# If the user is logged in, display their name %>
		<% if (typeof user !== 'undefined' && user !== null) { %>
			<span><%= user %></span>
		<% } %>

		<div id="links" class="pull-left linkbar centerNav collapse navbar-collapse">
			<ul class="nav navbar-nav linkbar pull-left" role="menu">
				<li <% if ( title === 'Home' ) { %> class="active" <% } %>><a href="/">Map</a></li>
				<li <% if ( title === 'About' ) { %> class="active" <% } %>><a href="/about">About</a></li>
				<li <% if ( title === 'Help' ) { %> class="active" <% } %>><a href="/help">Help</a></li>

				<%# Different buttons are displayed here depending on whether a user is logged in. %>
				<% if (typeof user !== 'undefined' && user !== null) { %>
					<li><a href="/dologout">Log out</a></li>
				<% } else { %>
					<li <% if ( title === 'Log in' ) { %> class="active" <% } %>><a href="#" data-toggle='modal' data-target='#accModal'>Log in</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>
