<nav class="navbar navbar-dark">
	<div class="container-fluid">

		<!-- LOGO & BURGER MENU -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/" style="font-size:1.7em; color:white; margin-top: 0.4em;">Findspot</a>

			<!-- DROP DOWN LOGIN BUTTON -->
			<%# <div class="nav navbar-nav navbar-right pull-right">
				<div class="btn-group centerNav">
					<button type="button" class="navbar-btn btn-link dropdown-toggle logBtn" data-toggle="dropdown">
						Login<span class="caret"></span>
					</button>

					<!-- DROPDOWN FORM -->
					<div class="dropdown-menu col-sm-12">
						<form id="login-form">
							<!-- LOGIN BOX -->
							<div class="form-group">
								<div class="col-sm-12">
									<label for="uname">Login</label>
								</div>
								<div class="col-sm-12">
									<input type="text" name="uname" placeholder="Username" onclick="return false;" class="form-control input-sm space"/>
								</div>
							</div>

							<!-- PASSWORD BOX-->
							<div class="col-sm-12">
								<input type="text" name="pword" placeholder="Password" class="form-control input-sm" id="password1"/>
							</div>

							<!-- 'REMEMBER ME' & 'SUBMIT' BUTTONS -->
							<div class="form-group">
								<div class="checkbox col-sm-12">
									<label><input type="checkbox" name="rem-box">Remember Me</label>
								</div>
							</div>
							<div class="col-sm-12">
								<button type="submit" class="btn btn-primary space">Submit</button>
							</div>

						</form>
					</div>
				</div>
			</div> %>

			<ul class="pull-right linkbar">
				<li <% if ( title === 'Home' ) { %> class="active" <% } %>><a onclick="changePage(0)">Map</a><li>
				<li <% if ( title === 'About' ) { %> class="active" <% } %>><a onclick="changePage(1)">About</a></li>
				<li <% if ( title === 'Help' ) { %> class="active" <% } %>><a href="/help">Help</a></li>
				<li><a class="btn logBtn dropdown-toggle" data-toggle="dropdown">Login</a></li>

				<!-- DROPDOWN FORM -->
				<div class="dropdown-menu col-sm-2 pull-right">
					<form id="login-form">
						<!-- LOGIN BOX -->
						<div class="form-group">
							<div class="col-sm-12">
								<label for="uname">Login</label>
							</div>
							<div class="col-sm-12">
								<input type="text" name="uname" placeholder="Username" onclick="return false;" class="form-control input-sm space"/>
							</div>
						</div>

						<!-- PASSWORD BOX-->
						<div class="col-sm-12">
							<input type="text" name="pword" placeholder="Password" class="form-control input-sm" id="password1"/>
						</div>

						<!-- 'REMEMBER ME' & 'SUBMIT' BUTTONS -->
						<div class="form-group">
							<div class="checkbox col-sm-12">
								<label><input type="checkbox" name="rem-box">Remember Me</label>
							</div>
						</div>
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary space">Submit</button>
						</div>
					</form>
				</div>
			</ul>
			<!-- SEARCH BAR -->
			<form class="input-group col-sm-6 centerNav searchbar">
				<input class="form-control" type="search" placeholder="Find a spot...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Go!</button>
				</span>
			</form>
			<!-- PAGE LINKS -->

			</div>
		</div>
	</div>
</nav>
