<!doctype HTML>
<html lang="en">
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>
<div class="content">
	<div class="wrap">
		<section>
			<p>Parking is one of the most difficult and dysfunctional parts of modern city life – and that’s no surprise, as it’s barely changed for decades.
			Over 23% of car journeys involve some kind of parking pain – that’s 190 million trips a month – with drivers suffering from both uncertainty (availability, prices, restrictions) and inconvenience (full car parks, slow payments, unfair fines) on a daily basis.
			Yet we have the technology to make parking function seamlessly – and so much space is lying underutilised. There has to be a better system…
			At FindSpot, we are on a mission to make parking easy.
			Findspot is dedicated to solving the parking problem by cracking both sides of the market – making parking easy and efficient for everyone.</p>
		</section>
	</div>
</div>
</body>
</html>
