

<!doctype HTML>
<html lang="en">
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>
<div class="content">
	<div class="wrap">
		<div>
			<h3>How do I find a space?</h2>
			<ol>
				<li>Search</li>
				<p>Enter your destination.</p>
				<li>Filter out</li>
				<p>Use the sliders to decide how far you want to search and how much you want to pay.</p>
				<li>Choose your space</li>
				<p>Pick the space that suits you best from the list!</p>
			</ol>
		</div>
		<div>
			<h3>How do I add a space?</h3>
			<p>It's easy! Just click the "Add location" button at the bottom of the page and fill out a small form describing the spot!</p>
		</div>
	</div>
</div>
</body>
</html>
