<!doctype HTML>
<html lang="en">
	<%- include('partials/header') %>
<body>

	<%- include('partials/navbar') %>

	<div id="content"><div id="map"></div></div>

	<script>
	function initMap() {
		var abz = {lat:57.1497, lng:-2.0943};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 8,
			center: abz
		});
	}

	function placeMarker(map, location){
		var marker = new google.maps.marker({
			position: location,
			map: map
		});
	}

	</script>

	<script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRK2xpbDf14zS08cMkp252N8uPvt3O4_I&callback=initMap">
	</script>


</body>
</html>
