body{
	background-color: #E0E0E0;
}

.linkbar{
	text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.btn-group>.dropdown-menu{
	padding: 10 10 10 10px;
}

.space {
	margin-bottom: 1em;
}
