<!DOCTYPE html>
<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>
<%- include('partials/accModals') %>

<div class="jumbotron wrap wrapWhite">
  <h1 class="display-3 mt-3">What can we do to help?</h1>
	 <div class="row justify-content-center">
		<div class="col-sm">
			<div class="container mt-5">
				<h2>Find spot</h2>
				<div class="zoom">
					<img data-toggle="collapse" data-target="#demo1" src="Images/addPark.png" class="responsive displayed mt-3 mb-3  ml-3 mr-3;">
				</div>
				<div id="demo1" class="collapse">
					<div class="embed-responsive embed-responsive-16by9">
						<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/4vimAfuKGJ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
								 
						</iframe> -->
					</div>
				
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="container mt-5" style="">
				<h2>Add spot</h2>
					<div class="zoom">
					<img data-toggle="collapse" data-target="#demo" src="Images/park.png" class="responsive displayed mt-3 mb-3 ml-3 mr-3">
			</div>
			<div id="demo" class="collapse">
				<div class="embed-responsive embed-responsive-16by9">
					<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/4vimAfuKGJ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
								 
					</iframe> -->
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="container mt-500">
	<p><br><br><br><br><br></p>
</div>
</body>
</html>
