body{
	background-color: #E0E0E0;
}

.wrapper{
	color: #282828;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.jumbotron{
	background-color: #9900CC;
}

#content {
	padding: 20px 10% 70px 10%;
}

.btn-group>.dropdown-menu{
	padding: 10 10 10 10px;
}

#header {
	padding:0 5% 0 5%;

}

#header h1{
	color:#E0E0E0;
}

.space {
	margin-bottom: 1em;
}
